<h1 class="h">Please create a user!</h1>
<form class="signup" action="/auth/signup" method="POST">
  <label id=`label` for="new-email">Email</label>
  <input id="new-email" type="email" name="email">


  <label for="new-name">Name</label>
  <input id="new-name" type="text" name="name">

  <label for="new-password">Password</label>
  <input id="new-password" type="password" name="password">

  <input type="submit" value="Sign up">
</form>
